body { 
	font-family:sans-serif;
}

.status {
	font-size: small;
}

tbody {
	box-shadow: 0 0 0 1px black;
	border-radius: 0px;
	font-size: xx-small;
	padding: 0;
	overflow: auto;
}


.hidden {
	display: none;
}

tbody td{
}

.armor-list-item {
	
}

.armor-list-item:nth-child(odd){
  background-color: #d7f1fc;
}

div#armor-list {
    background-color: white;
	position: absolute;
	right: 0;
	top: 0; 
	width: 730px; 
	margin:0; 
	padding: 0; 
	z-index:2
}

.armor-list-item-equipped {
	background-color: darkseagreen;
}

.armor-list-item-equipped:nth-child(odd){
	background-color: darkseagreen; /*#aabfaa was confusing*/
}


.armor-list-item-equipped:hover {
	background-color: #d2fcd3;
}

.armor-list-item:hover {
	background-color: #98b2fa;
}

.armor-list-highlight {
	background-color: #faa8a5 !important;
}

tbody {
	
}

.armor-list-body {
	
}

button {
	width: 100%;
	font-size: xx-small;
	margin: 0px;
	padding: 0px;
}

.filterButton {
	display:inline-block;
	padding:0.0em 0.0em;
	margin:0 1.5 0.0em 0;
	border-radius:0.25em;
	box-sizing: border-box;
	text-decoration:none;
	font-weight:300;
	font-size: xx-small;
	color:#FFFFFF;
	background-color:#4eb5f1;
	text-align:center;
	transition: all 0.2s;
	width: fit-content;
}

.filterButton:hover {
	background-color:#3b8cbc;
}

.filterClicked {
	background-color:#9692a2;
}

.filterClicked:hover {
	background-color:#78777b;
}

#armor-item {
	display: none;
}

.sort.asc, .sort.desc {
	background-color: #00ffdc;
	color: black;
}
.sort.asc::after {
	content: "\002B06";
	padding-left: 3px;
}
.sort.desc::after {
	content: "\002B07";
	padding-left: 3px
}


.droplist-container {
	z-index: 4;
	outline: solid;	
	background-color: white;
	width: fit-content;

}
.droplist-item {
}

.droplist-box {
	text-align: center;
    display: inline-block;
    margin: 0;
    outline: 0.1px solid black;
}


.doll-container {

	border: 3px solid #73AD21;
	width:auto;
	height:auto;

}

.avbox {
	font-size:18;
	font-family:cursive;
	font-weight:bolder;
    position: absolute;
	text-align:center;
    border: none;
    opacity: 0.9;
    z-index: 1;
	background: none;
    margin-left: 1%
}

.avbox-adjust {
	font-size:9;
	font-family:cursive;
	font-weight:bolder;
    position: absolute;
	text-align:center;
    border: none;
    opacity: 0.9;
    z-index: 1;
}