body { 
	font-family:sans-serif;
}


tbody {
	box-shadow: 0 0 0 1px black;
	border-radius: 0px;
	font-size: xx-small;
	padding: 0;
	overflow: auto;
}


.hidden {
	display: none;
}

tbody td{
}

tbody tr:nth-child(odd){
  background-color: #d7f1fc;
}

tbody {
	
}

.armor-list-body {
	
}

button {
	width: 100%;
	font-size: xx-small;
	margin: 0px;
	padding: 0px;
}

.filterButton {
	display:inline-block;
	padding:0.0em 0.0em;
	margin:0 1.5 0.0em 0;
	border-radius:0.25em;
	box-sizing: border-box;
	text-decoration:none;
	font-weight:300;
	font-size: xx-small;
	color:#FFFFFF;
	background-color:#4eb5f1;
	text-align:center;
	transition: all 0.2s;
}

.filterButton:hover {
	background-color:#3b8cbc;
}

.filterClicked {
	background-color:#9692a2;
}

.filterClicked:hover {
	background-color:#78777b;
}

#armor-item {
	display: none;
}

.sort.asc, .sort.desc {
	background-color: yellow;
}
.sort.asc::after {
	content: "\002B06";
	padding-left: 3px;
}
.sort.desc::after {
	content: "\002B07";
	padding-left: 3px
}


#armor-list: {
	
}

.doll-container {

	border: 3px solid #73AD21;
	width:auto;
	height:auto;

}

.avbox {
	
    position: absolute;
    border: solid;
    opacity: 0.5;
    z-index: 1;
}